{% extends 'base.html.twig' %}

{% block title %}Student index{% endblock %}

{% block body %}
    <h1>Студенты</h1>

    <table class="table">
        <thead>
            <tr>
{#                <th>Roles</th>#}
{#                <th>Password</th>#}
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Отчество</th>
                <th>Дата рождения</th>
                <th>Емейл</th>
                <th>Телефон</th>
                <th>Город</th>
                <th>Адрес</th>
                <th>Курс</th>
                <th>Номер группы</th>
                <th>Студенческий</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
{#                <td>{{ student.roles ? student.roles|json_encode : '' }}</td>#}
{#                <td>{{ student.password }}</td>#}
                <td>{{ student.name }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.surname }}</td>
                <td>{{ student.bithday ? student.bithday|date('Y-m-d') : '' }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.phone }}</td>
                <td>{{ student.city }}</td>
                <td>{{ student.adress }}</td>
                <td>{{ student.course }}</td>
                <td>{{ student.numberGroup }}</td>
                <td>{{ student.studentId }}</td>
                <td>
                    <a href="{{ path('student_show', {'id': student.id}) }}">Просмотреть</a>
                    <a href="{{ path('student_edit', {'id': student.id}) }}">Редактировать</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('student_new') }}">Добавить нового студента</a>
{% endblock %}
