{% extends 'base.html.twig' %}

{% block title %}Teacher index{% endblock %}

{% block body %}
    <h1>Все преподаватели</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Трудовая книжка</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Отчество</th>
                <th>Дата рождения</th>
                <th>Телефон</th>
                <th>Город</th>
                <th>Адрес</th>
                <th>Кафедра</th>
                <th>Емейл</th>
                <th>Фото</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr>
                <td>{{ teacher.teacherId }}</td>
                <td>{{ teacher.name }}</td>
                <td>{{ teacher.lastName }}</td>
                <td>{{ teacher.surname }}</td>
                <td>{{ teacher.bithday ? teacher.bithday|date('Y-m-d') : '' }}</td>
                <td>{{ teacher.phone }}</td>
                <td>{{ teacher.city }}</td>
                <td>{{ teacher.adress }}</td>
                <td>{{ teacher.department }}</td>
                <td>{{ teacher.email }}</td>
                <td>
                    <img src="/web/uploads/teacher/{{ teacher.photo }}" width="100" height="100" />
                </td>
                <td>
                    <a href="{{ path('teacher_show', {'id': teacher.id}) }}">Просмотреть</a>
                    <a href="{{ path('teacher_edit', {'id': teacher.id}) }}">Редактировать</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('teacher_new') }}">Добавить нового преподавателя</a>
{% endblock %}
